{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="d-flex justify-content-between pl-5 pr-5">
    <div class="shadow-sm p-3 mb-5 bg-white rounded w-25 hm-270 m-2 mt-4">
        <img src="{{ user.avatar }}" alt="{{ user.username }}" class="rounded-circle avatar-profile">
        {{ user.firstname }} {{user.lastname }} {% if (user.bde) %}<i class="fas fa-check-circle" title="Membre du BDE" alt="Membre du BDE"></i>{% endif %}<br />
        <small>@{{ user.username }}</small><br />
        <hr>
        Promo : {{ user.promotion }}<br />
        Formation : {{ user.training }}
        <br />
        Vote : <i class="fas fa-beer"></i> <i class="fas fa-beer"></i> <i class="fas fa-beer"></i> <i class="fas fa-beer"></i> <i class="fas fa-beer"></i>
        <br />
        {% if not isFollowing %}
        <a href="{{ path('follow', {'id' : user.id}) }}"><button type="button" class="btn btn-info">Suivre</button></a>
        {% else %}
        <a href=""><button type="button" class="btn btn-info">Ne plus suivre</button></a>
        {% endif %}
    </div>
    <div class="card w-50">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item text-center">
                    <a class="nav-link active" href="#"><small>Tweet</small> <br />
                        <span style="color: #b1524c; font-weight: bold">{{ user.tweetNb }}</span></a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="#"><small>Abonnement</small> <br />
                        <span style="color: #b1524c; font-weight: bold">{{ nb_follows }}</span></a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="#"><small>Abonnés</small> <br />
                        <span style="color: #b1524c; font-weight: bold">{{ nb_followers }}</span></a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="#"><small>J'aime</small> <br />
                        <span style="color: #b1524c; font-weight: bold">0</span></a>
                </li>
            </ul>
        </div>
        {{ render(controller(
            'App\\Controller\\AddTweetController::show'
        )) }}
        <div class="card-body">
            {% for tweet in tweets %}
            {{ include('tweet.html.twig') }}
            {% endfor %}
        </div>
    </div>
    <div class="shadow-sm p-3 mb-5 bg-white rounded w-25 p-3 m-2">
        <h4>Suggestions</h4>
    </div>
</div>
{% endblock %}
