{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="d-flex justify-content-between pl-5 pr-5">
    <div class="shadow-sm p-3 mb-5 bg-white rounded w-25 m-2 hm-140">

        <h4>{{ user.username }}</h4>
    </div>
    <div class="card w-50">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item text-center">
                    <a class="nav-link active" href="#"><span style="font-size: small">Tweet</span> <br />
                        <span style="color: #b1524c; font-weight: bold">{{ user.tweetNb }}</span></a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="#"><span style="font-size: small">Abonnement</span> <br />
                        <span style="color: #b1524c; font-weight: bold">{{ user.tweetNb }}</span></a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="#"><span style="font-size: small">Abonnés</span> <br />
                        <span style="color: #b1524c; font-weight: bold">{{ user.tweetNb }}</span></a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="#"><span style="font-size: small">J'aime</span> <br />
                        <span style="color: #b1524c; font-weight: bold">{{ user.tweetNb }}</span></a>
                </li>
            </ul>
        </div>
        {{ render(controller(
            'App\\Controller\\AddTweetController::show'
        )) }}
        <div class="card-body">
            {% for tweet in tweets %}
            {{ include('tweet.html.twig') }}
            {% endfor %}
        </div>
    </div>
    <div class="shadow-sm p-3 mb-5 bg-white rounded w-25 p-3 m-2">
        <h4>Suggestions</h4>
    </div>
</div>
{% endblock %}
