{% extends 'base.html.twig' %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<div class="d-flex justify-content-between pl-5 pr-5">
    <div class="shadow-sm p-3 mb-5 bg-white rounded w-25 m-2 hm-140">
        <div class="d-flex">
            <div class="col-sm-3">
                <a href="">
                    <img src="{{ app.user.avatar }}" alt="{{ app.user.username }}" class="rounded-circle avatar-index" >
                </a>
            </div>
            <div class="col-sm-9">
                <h5 class="mb-0">{{ app.user.firstname }}</h5>
                <span class="small" style="color: grey;">@{{ app.user.username }}</span>
            </div>
        </div>
        <div class="d-flex mt-2">
            <div class="col-sm-3">
                <span class="">Tweets</span>
                <span class="font-weight-bold" style="color: #b1524c;"> {{ app.user.tweetNb }}</span>
            </div>
            <div class="col-sm-5">
                <span class="">Abonnements</span>
                <span class="font-weight-bold" style="color: #b1524c;"> 0</span>
            </div>
            <div class="col-sm-3">
                <span class="">Abonnés</span>
                <span class="font-weight-bold" style="color: #b1524c;"> 0</span>
            </div>
        </div>
    </div>
    <div class="shadow-sm mb-5 bg-white rounded w-50 m-2">
        {% for tweet in tweets %}
        {{ include('tweet.html.twig') }}
        {% endfor %}
    </div>
    <div class="shadow-sm p-3 mb-5 bg-white rounded w-25 p-3 m-2">
        <h4>Suggestions</h4>
    </div>
    {{ render(controller(
    'App\\Controller\\AddTweetController::show'
    )) }}

</div>

{% else %}
{{ include('index.html.twig') }}
{% endif %}
{% endblock %}