{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<header>

    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #ffffff;">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }}">
                        <i class="fas fa-home"></i>
                        Accueil
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown" >
                    <a  class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ app.user.avatar }}" alt="avatar de profil" class="rounded-circle profile" >
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <div class="dropdown-item">
                            {{ app.user.username }}
                        </div>
                        <hr/>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-user"></i>
                            Profil
                        </a>
                        <hr/>
                        <a class="dropdown-item" href="{{ path('logout')}}">
                            <i class="fas fa-sign-out-alt"></i>
                            Se déconnecter
                        </a>

                    </div>

                </li>

            </ul>
            <div class="logoCenter">
                <img src="{{ asset('img/favicon-32x32.png') }}"/>
            </div>

            <button class="btn btn-danger tweet">Tweeter</button>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Recherche..." aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>

        </div>
    </nav>
</header>
{% endif %}